* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 20px;
}

.navbar li {
    display: inline;
    width: 60px;
}

.rigth {
    float: right;
}

.navbar a {
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: inline;
} 

.navbar a:hover {
    text-decoration: underline;
}

#dashboard {
    height: 20px;
    width: 20px;
}

.logo {
    display:flex;
    justify-content: center;
    margin-top: 160px;
    
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 550px;
    height: 45px;
    border-radius: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid gray;
    text-align: left;
}

input[type="text"]:hover {
    box-shadow: 2px 2px 2px rgb(184, 184, 184);
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: white; 
    padding: 10px 20px;
    cursor: pointer; 
    margin: 35px 4px;
}

.default {
    background-color: #f2f2f2; 
    color: #5F6368;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.default:hover {
    background: #ddd;
}

.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    font-family: Arial, sans-serif;
    font-size: small;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer a{
    text-decoration: none;
    color: #5f6368;
    padding-left: 27px;
}

.settings {
    padding-right: 27px;
}

